@use 'sass:string';

$heading-font: 'Bricolage Grotesque';
$body-font: 'Sen';

@use 'vuetify' with (
  $heading-font-family: $heading-font,
  $body-font-family: $body-font,
  $layers: true,
  $color-pack: false,
  $grid-breakpoints: (
    'xs': 0,
    'sm': 400px,
    'md': 800px,
    'lg': 1280px,
    'xl': 1920px,
    'xxl': 2560px,
  ),
  $utilities: (
    "align-content": false,
    "align-items": false,
    "align-self": false,
    "border-bottom": false,
    "border-current": false,
    "border-end": false,
    "border-opacity": false,
    "border-start": false,
    "border-style": false,
    "border-top": false,
    "border": false,
    "bottom": false,
    "cursor": false,
    "display": false,
    "fill-height": false,
    "flex-direction": false,
    "flex-grow": false,
    "flex-shrink": false,
    "flex-wrap": false,
    "flex": false,
    "float:ltr": false,
    "float:rtl": false,
    "float": false,
    "font-italic": false,
    "font-weight": false,
    "gap-column": false,
    "gap-row": false,
    "gap": false,
    "height-screen": false,
    "height": false,
    "justify-content": false,
    "left": false,
    "margin-bottom": false,
    "margin-end": false,
    "margin-left": false,
    "margin-right": false,
    "margin-start": false,
    "margin-top": false,
    "margin-x": false,
    "margin-y": false,
    "margin": false,
    "negative-margin-bottom": false,
    "negative-margin-end": false,
    "negative-margin-left": false,
    "negative-margin-right": false,
    "negative-margin-start": false,
    "negative-margin-top": false,
    "negative-margin-x": false,
    "negative-margin-y": false,
    "negative-margin": false,
    "opacity": false,
    "order": false,
    "overflow-wrap": false,
    "overflow-x": false,
    "overflow-y": false,
    "overflow": false,
    "padding-bottom": false,
    "padding-end": false,
    "padding-left": false,
    "padding-right": false,
    "padding-start": false,
    "padding-top": false,
    "padding-x": false,
    "padding-y": false,
    "padding": false,
    "position": false,
    "right": false,
    "rounded-bottom-end": false,
    "rounded-bottom-start": false,
    "rounded-bottom": false,
    "rounded-end": false,
    "rounded-start": false,
    "rounded-top-end": false,
    "rounded-top-start": false,
    "rounded-top": false,
    "rounded": false,
    "text-align": false,
    "text-decoration": false,
    "text-mono": false,
    "text-opacity": false,
    "text-overflow": false,
    "text-transform": false,
    "top": false,
    // "typography": false,
    "white-space": false,
    "width": false,
  ),
  $typography: (
    'h1': (
      'size': 3rem,
      'weight': 300,
      'line-height': 1,
      'letter-spacing': -.015625em,
    ),
    'h2': (
      'size': 2rem,
      'weight': 300,
      'line-height': 1,
      'letter-spacing': -.0083333333em,
    ),
    'h3': (
      'size': 1.5rem,
      'line-height': 1.05,
    ),
    'h4': (
      'size': 2.125rem,
      'line-height': 1.175,
      'letter-spacing': .0073529412em,
    ),
    'h5': (
      'size': 1.5rem,
      'line-height': 1.333,
    ),
    'h6': (
      'size': 1.25rem,
      'weight': 500,
      'line-height': 1.6,
      'letter-spacing': .0125em,
    ),
    'subtitle-1': (
      'size': 1rem,
      'line-height': 1.75,
      'letter-spacing': .009375em,
    ),
    'subtitle-2': (
      'size': .875rem,
      'weight': 500,
      'line-height': 1.6,
      'letter-spacing': .0071428571em,
    ),
    'body-1': (
      'size': 1rem,
      'line-height': 1.5,
      'letter-spacing': .03125em,
    ),
    'body-2': (
      'size': .875rem,
      'line-height': 1.425,
      'letter-spacing': .0178571429em,
    ),
    'button': (
      'size': .875rem,
      'weight': 500,
      'line-height': 2.6,
      'letter-spacing': .0892857143em
    ),
    'caption': (
      'size': .75rem,
      'line-height': 1.667,
      'letter-spacing': .0333333333em,
    ),
    'overline': (
      'size': .75rem,
      'weight': 500,
      'line-height': 2.667,
      'letter-spacing': .1666666667em,
      'text-transform': uppercase
    ),
  ),
);
